

* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
  display: flex;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}




/* *********************************************************************** */

/* Home Section */
.image {
  align-items: left;
  border-radius: 90%;
  overflow: hidden;
  width: 350px;
  height: 450px;
}

.home {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
    padding-bottom: 2rem;

  height: 100%;
  width: 100%;
  background: rgb(167, 199, 231);
  margin-top: 10px;
}

.hcontent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: auto;

}

.resume{
  display: flex;
  padding: 1em;
  width: 330px;
  height: 100px;
  
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;


}

.intro h2 {
  font-family: 'Tangerine', serif;
  color: #0f0b08d4;
  margin-bottom: 20px;
}

.intro p {
  font-size: 0.938rem;
  color: #212806;
  max-width: 900px;
}


/* Buttons of Home and Contact me Form Section Combined*/
.button,
.btn {
  display: inline-block;
  text-decoration: none;
  color: #212806;
  border: 1px solid #212806;
  border-radius: 70px;
  padding: 12px 34px;
  font-size: 13px;
  background-color: rgb(158, 205, 198);
  position: relative;
  cursor: pointer;
  margin: 10px 10px 180px 10px;
  transition: transform 0.35s;
}

.button:hover {
  transition: 0.5s;
  color: white;
  background-color: rgb(158, 205, 198);
  transform: scale(1.75);
}
.btn:hover{
  transition: 0.5s;
  color: white;
  background-color: rgb(158, 205, 198);
  transform: scale(1.75);
}


/*Section Skills */




/*About Me */
.About_me {
  background-color: rgb(229, 240, 229);
  padding: 50px;
  height: 100%;
}




/*Education */

#education {
  color: #918c27;
  font-size: 150px;

}
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

body .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  background-color: black;

}

body .container .card {
  position: relative;
  width: 440px;
  height: 440px;
  border-radius: 50px;
  margin: 10px;
}
body .container .card:nth-child(1) .box .content a {
  background: #140f0f;
}
body .container .card:nth-child(2) .box .content a {
  background: #5444e7;
}

body .container .card:nth-child(3) .box .content a {
  background: #758b0f;
}

body .container .card .box {
  position: absolute;
  background: #2a2b2f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}


body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-top: 20px;

}

body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}





/*Footer Section */
.footer-basic {
  display: flex;
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}


.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


/*Responsive Design for less than 400px */
@media (max-width: 400px) {
  .nav {
    display: grid;
  }

  img {
    align-items: center;
    width: 79%;

  }
  .home{
    width: 100%;
  }

  .intro {
    margin: 1px;
    padding: 10px;
  }

  .button {
    margin: 30px;
  }

  .About_me {
    display: block;
    width: 100%;
  }

  .basicInformation {

    width: 2%;
    height: 1%;
  }

  .table_body {
    width: 1%;
    font-size: 15px;
  }

  .about_desc h2 {
    width: 100%;

  }

  .about_desc p {
    width: 100%;
    font-size: 15px;

  }

  .container {
    width: 100%;
  }

  #education {
    font-size: 59px;
  }



  .skill ul {
    display: contents;
    font-size: 18px;
    padding-left: 10px;
    align-items: center;
  }

  .form {
    width: 100%;
  }

  #contact_me {
    font-size: 29px;
  }

  .f2 {
    padding: 1px;
  }

  .links {
    padding: 10px;
    padding-top: 0px;
    width: 25%;
    display: block;
  }


}
